{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Access curriculum resources",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "/dashboard",
        text: "Year 6",
        active: true
      },
      {
        href: "/dfe-sign-in/username",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Plan lesson 4 - Access curriculum resources alpha - Department for Education
{% endblock %}
{% from "button/macro.njk" import govukButton %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "radios/macro.njk" import govukRadios %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{% block beforeContent %}

{{ govukBreadcrumbs({
  items: [
  {
    text: "Year 7",
    href: "/keystage3-history"
  },
  {
    text: "History",
    href: "/history"
  },
  {
    text: "Summer 2",
    href: "/unit"
  },
  {
    text: "Lesson 1"
  }
  ]
}) }}
<a href="/unit" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
      <h1 class="govuk-heading-xl">
Lesson contents: The Battle of Hastings
</h1>

<p class="govuk-body">There are 8 parts to this lesson. If you want to change the lesson contents, you can choose from the alterntive activities available.</p> 
<p>When you've saved your changes, the lesson plan will be updated.</p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


{% macro slide(
	length,
	image,
	activity_type,
	synopsis,
	rowNumber,
	optionNumber,
	checked=false,
	badge=false,
	title=''
	) %}

	<div class="responsive-slide highlight-on-select-slide">
		<div class="radio">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="volcano1">
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="{{ rowNumber }}_{{ optionNumber }}" name="{{ rowNumber }}" type="radio" value="{{ optionNumber }}" {% if checked %}checked{% endif %}>
							<label class="govuk-label govuk-radios__label" for="{{ rowNumber }}_{{ optionNumber }}">
							</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="info">
      <div class="heading">
        <h3 class='govuk-heading-m'>{{ title }}</h3>
        {%if badge %}{{badge | safe}}{%endif%}
        <span class="govuk-caption-m">{{ activity_type }}</span>
      </div>
			<div class="synopsis">
				{% for item in synopsis %}	
					<p>{{item}}</p>
				{% endfor %}
			</div>
			<div>
				<ul class="govuk-list">
					<li><a href='#'>Preview teacher resources</a></li>
					<li><a href='#'>Preview pupil resources</a></li>
				</ul>
			</div>		
		</div>

		<div class="thumbnail">
			<img src="/public/images/{{ image }}" style="width:100%" alt="">
		</div>
	</div>
	
{% endmacro %}


<div class="govuk-grid-column-full-width">

		 <h1 class="govuk-heading-m" id="activity1">Activity 1 options</h1>
<p>Approximately 5 minutes.</p>
<p>You can keep the selected activity or choose an alternative.</p>

    <div class="responsive-grid">
		{{ slide(
			'pair reading - 5 minutes',
			'thumb-do-it-now.png',
			"Do it now: key words",
			[
				'As students enter the room, direct them to try and match up each key word with the correct definition. They should write the number with the correct letter in their books. Feed back and show correct responses.'
			],
			1,
			1,
			true,
			"<strong class='govuk-tag' id='prep'>extra prep</strong>",
	  		"Matching key words with definitions")
		}}

		{{ slide('whole class - 10 minutes', 'thumb-do-it-now.png', 'Do it now: questions', ['As students enter the room, direct them to answer the questions on the board either in their books or in pairs. Feed back and reveal correct responses. '], 1, 2, false, "", "Answering questions from the board") }}
		{{ slide('whole class - 10 minutes', 'thumb-do-it-now.png', 'Do it now: anagrams', ['As students enter the room, direct them to try and solve the anagrams on the board which are all keywords they will have come across in previous lessons. Feedback and reveal correct responses. '], 1, 3, false, "<strong class='govuk-tag' id='prep'>extra prep</strong>", "Solving anagrams from the board") }}

	</div>
	

    <h1 class="govuk-heading-m" id="activity2">Activity 2 options</h1>
	<p>Approximately 10 minutes.</p>
	<p>You can keep the selected activity or choose an alternative.</p>

    <div class="responsive-grid">
		{{ slide('image and text', 'thumb-reading-inv.png', 'Reading', ['For this lesson, students need to know the events of the battle in chronological order. The teacher uses maps on slides 6 and 7 to remind students what led up to the battle. Students then read the Word document “description of the Battle of Hastings” either as a group taking it in turns to read aloud or independently.'], 2, 1, true, "<strong class='govuk-tag' id='prep'>printing required</strong>", "Understanding the events of the battle in chronological order") }}
		{{ slide('image and text', 'thumb-writing-inv.png', 'Writing', ['This video clip serves to both recap events leading up to the battle and outline what happened on 14th October at Hastings. If the teacher stops the video several times, students can be asked to bullet point any information they think would help them to answer the key enquiry question for the lesson.'], 2, 2, "", "", "Watching a video recap of the battle and note-taking") }}
		{{ slide('image and text', 'thumb-drawing.png', 'Drawing', ['For students who are, for example, at an early stage of learning English, there is a storyboard worksheet with simple steps that take them through the events of the battle which they can then illustrate with appropriate images to demonstrate understanding.'], 2, 3, false, "<strong class='govuk-tag' id='prep'>printing required</strong>", "Drawing the events of the battle as a storyboard") }}
    </div>


    <h1 class="govuk-heading-m" id="activity3">Activity 3</h1>
	<p>Approximately 5 minutes.</p>
	<p>Only one activity is available.</p>

    <div class="responsive-grid">
		{{ slide('image and text', 'thumb-verbal-recap.png', 'Verbal recap', ['Give students slips of paper at random, but make sure the student with the first event knows who they are. Get them to read out their slip and see how smoothly the whole class can get through the story. This exercise requires participants to have understood the order of events and be alert for when their turn to read arises. Teachers can make this more competitive by making students start again if there is a pause of more than a couple of seconds between each student.'], 3, 1, true, "<strong class='govuk-tag' id='prep'>printing required</strong>") }}
		</div>


    <h1 class="govuk-heading-m" id="activity4">Activity 4 options</h1>
	<p>Approximately 15 minutes.</p>
	<p>You can keep the selected activity or choose an alternative.</p>

    <div class="responsive-grid">
		{{ slide('image and text', 'thumb-card-sort.png', 'Card sort', ['Students can work individually, in pairs or in groups for this activity. Instructions for the activity are on slide 9. Students decide which statements on the cards are irrelevant to answering the question “Why did William win the Battle of Hastings?” and discard them. Then they categorise the cards under different headings. Higher attainers can be encouraged to come up with their own category headings or think of alternatives to the one you give them.'], 4, 1, true, "<strong class='govuk-tag' id='prep'>extra prep</strong>", "Understanding why William won the Battle of Hastings") }}
		{{ slide('image and text', 'thumb-reading-inv.png', 'Reading', ['Instead of completing this activity as a card sort, students can instead use the card sort worksheet to highlight different categories of reason William was able to achieve victory in different colours. They should include a key to show which category is represented by which colour.'], 4, 2, false, "<strong class='govuk-tag' id='prep'>printing required</strong>", "Categorising the reasons William achieved victory") }}
    </div>



    <h1 class="govuk-heading-m" id="activity5">Activity 5</h1>
	<p>Approximately 5 minutes.</p>
	<p>Only one activity is available.</p>


    <div class="responsive-grid">
		{{ slide('image', 'thumb-teacher.png', 'Teacher instruction', ['Show students example paragraphs and get them to verbally feed back on what they think is wrong with the first one. Then show the better paragraph, and use questioning to get students to identify what is better about this piece of writing before you show them the complete annotated version.'], 5, 1, true, "", "Understanding how to construct paragraphs") }}
	</div>
	
    <h1 class="govuk-heading-m" id="activity6">Activity 6</h1>
	<p>Approximately 10 minutes.</p>
	<p>Only one activity is available.</p>

    <div class="responsive-grid">
		{{ slide('image', 'thumb-writing-inv.png', 'Writing', ['Students attempt their own paragraphs. Starter sentences can be displayed on the slide for students who need more support.'], 6, 1, true, "", "Students write their own paragraphs" ) }}
	</div>	
	

    <h1 class="govuk-heading-m" id="activity7">Activity 7</h1>
	<p>Approximately 5 minutes.</p>
	<p> Only one activity is available.</p>

    <div class="responsive-grid">
		{{ slide('image', 'thumb-worksheet-inv.png', 'Peer assessment', ['Ask students to use the checklist on the slide to feed back on the work of the person next to them. They can either award a mark for each element of the checklist that is present, or write a “what went well” and an “even better if” for their partner.'], 7, 1, true, "", "Students assess a partner's paragraph") }}

	</div>	
	
    <h1 class="govuk-heading-m" id="activity6">Activity 8</h1>
	<p>Approximately 10 minutes.</p>
	<p>Only one activity is available.</p>

    <div class="responsive-grid">
		{{ slide('image', 'thumb-whole-inv.png', 'Whole-class plenary', ['Ask a student to read out their paragraph and either offer feedback or get other students to offer verbal feedback.'], 8, 1, true, "", "Students share their paragraphs") }}

	</div>	

</div>

<a class="govuk-button" href="/unit/lesson-outline#lesson-contents">Save lesson changes</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/unit/lesson-outline#lesson-contents" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
   Cancel
</a>

<!--

    <h1 class="govuk-heading-m" id="activity5">Part 5</h1>
	<p>Approximately 5 minutes. You can choose one resource to replace the suggested one.</p>

    <div class="responsive-grid">
		{{ slide('image', 'unlabelled2.jpg', 'Unlabelled volcano diagram', ['A reading exercise in which pupils work in groups to condense their knowledge of volcano features.'], 5, 1, true) }}
		{{ slide('image', 'cross-section.jpg', 'Volcano illustrated cross section', ['A reading exercise in which pupils work in groups to test each other’s knowledge of volcano types.'], 5, 2) }}
		{{ slide('image', 'colour-in.jpg', 'Volcano label activity', ['A reading exercise in which pupils work in groups to create a diagram of a designated volcano type.'], 5, 3) }}
	</div>


    <h1 class="govuk-heading-m" id="activity6">Part 6</h1>
	<p>Approximately 10 minutes. Only one resource is available here. It is pre-selected for you.</p>

    <div class="responsive-grid">
		{{ slide('image', 'unlabelled2.jpg', 'Volcano chemistry exam', ['An assessment to test whole-class knowledge of the different types of volcanoes.'], 6, 1, true) }}
	</div>
-->

{% endblock %}
