{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Access curriculum resources",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "/geography",
        text: "Year 6",
        active: true
      },
      {
        href: "/dfe-sign-in/username",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Plan lesson 4 - Curriculum materials alpha - Department for Education
{% endblock %}
{% from "button/macro.njk" import govukButton %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukBreadcrumbs({
  items: [
  {
    text: "Year 6",
    href: "/keystage3-geography"
  },
  {
    text: "Geography",
    href: "/geography"
  },
  {
    text: "Summer 2",
    href: "/unit"
  },
  {
    text: "Lesson 1"
  }
  ]
}) }}

<a href="/unit" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">1 hour</span>
<span class="govuk-caption-m">History > The Battle of Hastings</span>
<h1 class="govuk-heading-xl">
 Lesson 1: The Battle of Hastings
</h1>
  </div>
</div>

<h1 class="govuk-heading-m">Contents</h1>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#aims">Understand the aims of the lesson</a>
  </li>
  <li>
    <a class="govuk-link" href="#contents">Understand and choose the lesson contents</a>
  </li>
  <li>
    <a class="govuk-link" href="#download">Download the lesson plan and resources</a>
  </li>
</ul>



<p>You can understand and prepare for this lesson in 3 steps:</p>



<ol class="step-by-step-navigation" id="aims">
  <li class="navigation-step">
<h3 class='govuk-heading-l'>Understand the aims of the lesson </h3>

<h4 class='govuk-heading-m'>Lesson objective</h4>

<p>To explain why William of Normandy won the Battle of Hastings.</p>

<h4 class='govuk-heading-m'>How the lesson structure benefits pupils' learning </h4>

<p>Students will have studied the succession crisis of 1066 and the build up to the Battle of Hastings, including an examination of the claimants to the throne, preparations for conflict and the Battle of Stamford Bridge. The purpose of this lesson is to ensure students know the reasons William was able to achieve victory, can develop them into increasingly sophisticated explanations, and understand some of the issues with evidence from this period (and historical evidence in general.) How historical factors work together, leading to a particular conclusion, is the main focus in this lesson and something students will return to consistently throughout the key stage.</p>

			
<h4 class='govuk-heading-m'>Core knowledge for pupils</h4>

<p class="govuk-body">By the end of the lesson, pupils should know:</p>

<p>Pupils should be able to explain the key reasons William of Normandy won the Battle of Hastings and be able to categorise those reasons. Higher attainers will be able to offer more detailed explanations of how each factor contributed to victory, whereas lower attainers may just be able to identify reasons and begin to start explaining them. Pupils should be encouraged to reflect on the nature of historical evidence, how we reach conclusions about the past, and what constitutes relevant information when addressing a specific historical question.</p>


<h4 class='govuk-heading-m'>Key vocabulary</h4>

<p class="govuk-body">By the end of the lesson, pupils should know the words:</p>


<ul class="govuk-list govuk-list--bullet">
	<li>tactics</li>
	<li>pope</li>
	<li>papal</li>
	<li>relevance</li>
	<li>strategy</li>	
	<li>feigned flight</li>										
</ul>

<h4 class='govuk-heading-m'>Common misconceptions </h4>

<p class="govuk-body">Misconceptions teachers should be aware of:</p>

<p>This lesson provides a good opportunity to address the difficulties presented by ambiguous pieces of evidence, such as the section of the Bayeux tapestry that appears to show Harold Godwinson being killed with an arrow to the eye. Teachers can refer to the slide that shows this section of the story and show students that it isn’t actually clear who is being hit with the arrow. Lots of students will have heard this story as historical fact and this is a chance to demonstrate how evidence relating to historical events can be interpreted in different ways.</p>

<h4 class='govuk-heading-m'>Building on previous knowledge</h4>

<p>Vocabulary and concepts pupils should already be aware of:</p>

<p>Most of the vocabulary in this lesson should be familiar to students from previous lessons where they have studied the build up to the battle of Hastings.</p>

<h4 class='govuk-heading-m'>Core knowledge for teachers</h4>

<p class="govuk-body">There is an episode of the documentary series ‘Battlefield Britain’ presented by Dan Snow that covers the Battle of Hastings and preceding months in detail, with a focus on battlefield tactics. </p>

<p>Other useful sources include:</p>


<a href="https://www.bl.uk/anglo-saxons/articles/the-battle-of-hastings-fact-and-fiction">An article on sources of evidence available to historians about the battle </a><br>
<br>
<a href="https://spartacus-educational.com/NORhastings.htm">A collection of sources and information about the battle </a><br>				
<br>


  <li class="navigation-step" id="contents">
<h3 class='govuk-heading-l'>Understand and choose the lesson contents </h3>

<p class="govuk-body">This lesson has been sequenced in a suggested order. If you'd like to make changes, you can search for alternative resources.  </p>


		{% from "table/macro.njk" import govukTable %}
		{{ govukTable({
		  caption: "",
		  head: [
		    {
		      text: "",
					classes: "table-header-colour"								
		    },			
		    {
		      text: "Activity",
					classes: "table-header-colour"	
		    },			
		    {
		      text: "Teaching this activity",
					classes: "table-header-colour table-description-column"
		    },
		    {
		      text: "Change activity",
					classes: "table-header-colour"	
		    }					
		  ],
		  rows: [
				[
		      {
		       html: "<h3 class='lesson-number'>1</h3>",
						classes: "table-header-identifier table-header-colour"	
		      },						
		      {
		        html: "<img src='/public/images/thumb-do-it-now.png' style='width:75px' alt=''><br><strong>Do it now</strong></div>",
						classes: "table-header-identifier"
					},					
		      {
            html: "As students enter the room, direct them to try and match up each key word with the correct definition. They should write the number with the correct letter in their books. Feed back and show correct responses.<br><br><strong>Approximately 5 minutes</strong><br>File formats: .doc <a href='/unit/lesson-grid#activity1'>Preview</a><br><br><strong class='govuk-tag' id='prep'>extra prep</strong>",
						classes: "table-description-column"				
		      },
		      {
		        html: '<ul class="govuk-list"><li>Do it now available</li><br><li>Do it now available</li></ul><a href="/unit/lesson-grid#activity1">Change activity</a>'
		      }			
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>2</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-teacher.png' style='width:75px' alt=''><strong>Teacher instruction</strong><br><br><img src='/public/images/thumb-reading-inv.png' style='width:75px' alt=''><strong>Reading</strong></div>",
						classes: "table-header-identifier"	
		      },					
		      {
		        html: "For this lesson, students need to know the events of the battle in chronological order. The teacher uses maps on slides 6 and 7 to remind students what led up to the battle. Students then read the Word document “description of the Battle of Hastings” either as a group taking it in turns to read aloud or independently.<br><br><strong>Approximately 10 minutes</strong><br>File format: .doc .ppt <a href='/unit/lesson-grid#activity2'>Preview</a><br><br><strong class='govuk-tag' id='prep'>printing required</strong>",
						classes: "table-description-column"		
		      },					
		      {
		        html: '<ul class="govuk-list"><li>Video activity available</li><br><li>Drawing available</li></ul><a href="/unit/lesson-grid#activity2">Change activity</a>'	
		      }			
		    ],
		    [
		      {
		      html: "<h3 class='lesson-number'>3</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		      	html: "<img src='/public/images/thumb-verbal-recap.png' style='width:75px' alt=''><strong>Verbal recap</strong><br><br></div>",
						classes: "table-header-identifier"	
		      },				
		      {
		        html: "Give students slips of paper at random, but make sure the student with the first event knows who they are. Get them to read out their slip and see how smoothly the whole class can get through the story. This exercise requires participants to have understood the order of events and be alert for when their turn to read arises. Teachers can make this more competitive by making students start again if there is a pause of more than a couple of seconds between each student.<br><br><strong>Approximately 5 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity3'>Preview</a><br><br><strong class='govuk-tag' id='prep'>printing required</strong> ",
						classes: "table-description-column"	
					},									
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>4</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-card-sort.png' style='width:75px' alt=''><strong>Card sort</strong><br><br>",
						classes: "table-header-identifier"	
		      },				
		      {
		        html: "Students can work individually, in pairs or in groups for this activity. Instructions for the activity are on slide 9. Students decide which statements on the cards are irrelevant to answering the question “Why did William win the Battle of Hastings?” and discard them. Then they categorise the cards under different headings. Higher attainers can be encouraged to come up with their own category headings or think of alternatives to the one you give them.<br><br><strong>Approximately 15 minutes</strong><br><br><strong class='govuk-tag' id='prep'>extra prep</strong>",
						classes: "table-description-column"								
		      },
		      {
		        html: '<ul class="govuk-list"><li>Reading available</li></ul><a href="/unit/lesson-grid#activity4">Change activity</a>'
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>5</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-teacher.png' style='width:75px' alt=''><strong>Teacher instruction</strong></div>",
						classes: "table-header-identifier"	
		      },				
		      {
		        html: "Show students example paragraphs and get them to verbally feed back on what they think is wrong with the first one. Then show the better paragraph, and use questioning to get students to identify what is better about this piece of writing before you show them the complete annotated version.<br><br><strong>Approximately 5 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>6</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-writing-inv.png' style='width:75px' alt=''><strong>Writing</strong>",
						classes: "table-header-identifier"	
		      },			
		      {
		        html: "Students attempt their own paragraphs. Starter sentences can be displayed on the slide for students who need more support.<br><br><strong>Approximately 10 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },				
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>7</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-worksheet-inv.png' style='width:75px' alt=''><strong>Peer assessment</strong>",
						classes: "table-header-identifier"	
		      },			
		      {
		        html: "Ask students to use the checklist on the slide to feed back on the work of the person next to them. They can either award a mark for each element of the checklist that is present, or write a “what went well” and an “even better if” for their partner.<br><br><strong>Approximately 5 minutes</strong><br>File format: .ppt <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },				
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>8</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-whole-inv.png' style='width:75px' alt=''><strong>Whole class </strong><br><br><img src='/public/images/thumb-plenary.png' style='width:75px' alt=''><strong>Plenary</strong>",
						classes: "table-header-identifier"	
		      },			
		      {
		        html: "Ask a student to read out their paragraph and either offer feedback or get other students to offer verbal feedback.<br><br><strong>Approximately 5 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },				
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ]										
		  ]
		}) }}
	</li>

	

  <li class="navigation-step" id="download">
<h3 class='govuk-heading-l'>Download the lesson plan and resources </h3>

<p class="govuk-body">You can download this lesson plan and the resources you’ll need to teach the lesson. </p>

<br>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download worksheets for printing</a></p>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download Powerpoint presentation</a></p> 

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download lesson plan</a></p> 

<h3 class='govuk-heading-m'>Plan the next lesson</h3>


<p class="govuk-body">Once you’ve downloaded this lesson plan and all its resources, you can continue to plan the next lesson. </p>

<a href="/unit" button class="govuk-button govuk-button" data-module="govuk-button">
  Plan the next lesson
</a>
{% endblock %}
