{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Access curriculum resources",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "/keystage3-geography",
        text: "Year 6",
        active: true
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Year 7 Geography Summer 2 - Access curriculum resources alpha - Department for Education
{% endblock %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Year 7",
      href: "/keystage3-history"
    },
    {
      text: "History",
      href: "/history"
    },
    {
      text: "Summer 2"
    }
  ]
}) }}

{% endblock %}

{% block content %}




        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-l">Medieval realms</h2>
        <p>The unit is intended to provide a firm foundation for the rest of key stage 3 history where students will return repeatedly to key themes and skills.</p>
				

				  <h3 class="govuk-heading-m">How this lesson sequence benefits pupils' learning</h3>
				<p>The medieval realms unit weaves together key knowledge, skills and understanding required throughout key stage 3 history.</p> <h4 class="govuk-heading-s">The ability to recognise fundamental themes</h4><p>There is a broadly chronological approach to the period, but within this there are two key fundamental themes: political power (the Norman conquest, Feudalism, conflict between church and crown, the Magna Carta and the Peasants' Revolt) and religion, beliefs and attitudes (the Catholic church, the importance of religion in daily life, Thomas Becket, the Crusades and the Black Death).</p>
			  <h4 class="govuk-heading-s">Examination and analysis of ordinary life</h4>
				
				<p>Schools may also opt, if they have the time, to undertake an examination of life for ordinary people through a focus on medieval towns and villages as well as crime and punishment.</p>	
			  <h4 class="govuk-heading-s">The development of key historical skills</h4>
				
				<p>The unit also offers a focus on a range of key historical skills. Students develop their understanding of causation in history through their study of the Battle of Hastings, Thomas Becket, Magna Carta and the Peasants' Revolt, whilst their examination of the importance of religion uses primary sources to draw conclusions.</p><p> Interpretations of history are addressed primarily via their study of King Richard and King John, and accounts of the death of Wat Tyler.</p>

				<br>

          {% from "table/macro.njk" import govukTable %}

    {{ govukTable({
      caption: "",
      firstCellIsHeader: true,
      head: [
        {
          text: "Lesson number"
        },
        {
          text: "Learning objective"
        },
        {
          text: "Duration"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            html: "<h3 class='lesson-number-small'>1</h3>"
          },
          {
            text: "To be able to explain who the claimants to the English throne were in 1066"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],
        [
          {
            html: "<h3 class='lesson-number-small'>2</h3>"
          },
          {
            text: "To evaluate the relative strengths of the contenders for the throne in 1066"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],
        [
          {
            html: "<h3 class='lesson-number-small'>3</h3>"
          },
          {
            text: "To be able to explain why William won the Battle of Hastings"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],
        [
          {
            html: "<h3 class='lesson-number-small'>4</h3>"
          },
          {
            text: "To be able to explain how William I controlled England"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],
        [
          {
            html: "<h3 class='lesson-number-small'>5</h3>"
          },
          {
            text: "To compare life in medieval towns and villages"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],
        [
          {
            html: "<h3 class='lesson-number-small'>6</h3>"
          },
          {
            text: "To understand the importance of religion in medieval England"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>7</h3>"
          },
          {
            text: "To reach a conclusion about who was to blame for the death of Thomas Becket"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>8</h3>"
          },
          {
            text: "To be able to explain why people went on crusade"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>9</h3>"
          },
          {
            text: "To compare and evaluate interpretations of King Richard and King John"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>10</h3>"
          },
          {
            text: "To compare and evaluate interpretations of King Richard and King John"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>11</h3>"
          },
          {
            text: "To be able to explain why there were different explanations of what caused the Black Death in medieval Europe"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>12</h3>"
          },
          {
            text: "To be able to explain the causes of the Peasants’ Revolt"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],        [
          {
            html: "<h3 class='lesson-number-small'>13</h3>"
          },
          {
            text: "To evaluate a range of different accounts of the death of Wat Tyler"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ],		
        [
          {
            html: "<h3 class='lesson-number-small'>14</h3>"
          },
          {
            text: "To be able to explain medieval approaches to crime and punishment"
          },
          {
            text: "1 hour"
          },
          {
            html: "<a href='/unit/lesson-outline'>View lesson</a>"
          }
        ]
      ]
    }) }}
		


        </div>
</div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third right-nav">
				<div class="Aligner">
				  <div class="Aligner-item Aligner-item--top">
        <nav class="app-subnav ">
              <ul class="app-subnav__section">

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">What is history?</a>
                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Julius Caesar</a>

                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Medieval realms</a>

                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Tudor England</a>

                </li>

                <li class="app-subnav__section-item app-subnav__section-item--current">
                  <a class="app-subnav__link govuk-link" href="#">The English Civil War</a>

               </li>

              </ul>
							
							
    </nav>
		
		
		
		    </nav>
      </div>
			
			
			      </div>
						      </div>

{% endblock %}
