{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Curriculum materials",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "/dashboard",
        text: "Geography",
        active: true
      },
      {
        href: "#",
        text: "History"
      },
      {
        href: "#",
        text: "Science"
      },
      {
        href: "../",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Unit page
{% endblock %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Get started">Year 9</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Styles">Year 8</a>
    </li>

    <li class="app-navigation--current-page">
      <a class="govuk-link" href="/unit/year" data-topnav="Components">Year 7</a>
    </li>
  </ul>
</nav>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/dashboard"
    },
    {
      text: "Section",
      href: "#"
    },
    {
      text: "Subsection"
    }
  ]
}) }}
  <!--<a class="govuk-back-link" href="/url/of/previous/page">Back</a>-->
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">


<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <nav class="app-subnav">
              <ul class="app-subnav__section">

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Map skills</a>
                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Rivers and oceans</a>

                </li>

                <li class="app-subnav__section-item app-subnav__section-item--current">
                  <a class="app-subnav__link govuk-link" href="#">Volcanoes, earthquakes and plates</a>

                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Ecosystems</a>

                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Development</a>

                </li>

                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link" href="#">Africa</a>

                </li>

              </ul>
    </nav>
      </div>
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Unit 2 - Volcanoes, earthquakes and plates
          </h1>

          <p>A year 6 topic imparting the core knowledge to meet the physical geography part of the key stage 1/2 national curriculum and to stretch knowledge and skills around location and place work learned in previously sequenced units.</p>

          {% from "table/macro.njk" import govukTable %}

    {{ govukTable({
      caption: "Lessons and outcomes",
      firstCellIsHeader: true,
      head: [
        {
          text: "Lesson"
        },
        {
          text: "Teaching outcome"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            html: "<a href='/unit/lesson'>Lesson 1</a>"
          },
          {
            text: "Understand what the layers of the Earth are"
          },
          {
            text: "change"
          }
        ],
        [
          {
            html: "<a href='/unit/lesson'>Lesson 2</a>"
          },
          {
            text: "Understand plate tectonics"
          },
          {
            text: "change"
          }
        ],
        [
          {
            html: "<a href='/unit/lesson'>Lesson 3</a>"
          },
          {
            text: "Understand why earthquakes happen"
          },
          {
            text: "change"
          }
        ],
        [
          {
            html: "<a href='/unit/lesson'>Lesson 4</a>"
          },
          {
            text: "Understand the damage that earthquakes cause"
          },
          {
            text: "change"
          }
        ],
        [
          {
            html: "<a href='#'>Lesson 5</a>"
          },
          {
            text: "Understand and distinguish the types of volcano"
          },
          {
            text: "change"
          }
        ]
      ]
    }) }}

        </div>
</div>


  </main>
</div>
{% endblock %}
