{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Access curriculum resources",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "/dashboard",
        text: "Year 6",
        active: true
      },
      {
        href: "/dfe-sign-in/username",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Plan lesson 4 - Access curriculum resources alpha - Department for Education
{% endblock %}
{% from "button/macro.njk" import govukButton %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "radios/macro.njk" import govukRadios %}

{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
{% block beforeContent %}
<!--
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li class="app-navigation--current-page">
      <a class="govuk-link" href="/unit/year" data-topnav="Get started">Geography</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Styles">History</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Components">Science</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Components">All subjects</a>
    </li>
  </ul>
</nav>
-->

{{ govukBreadcrumbs({
  items: [
  {
    text: "Year 6",
    href: "/geography"
  },
  {
    text: "Geography",
    href: "/geography"
  },
  {
    text: "Summer 2",
    href: "/unit"
  },
  {
    text: "Lesson 1"
  }
  ]
}) }}
<a href="/unit" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
      <h1 class="govuk-heading-xl">
Lesson contents: types of volcano
</h1>

<p class="govuk-body">There are 6 parts to this lesson. If you'd like to make any changes, you can browse for and choose from alternative resources.</p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


{% macro slide(
	length,
	image,
	title,
	synopsis,
	rowNumber,
	optionNumber,
	checked=false
	) %}

	<div class="responsive-slide">
		<div class="radio">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="volcano1">
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="{{ rowNumber }}_{{ optionNumber }}" name="{{ rowNumber }}" type="radio" value="{{ optionNumber }}" {% if checked %}checked{% endif %}>
							<label class="govuk-label govuk-radios__label" for="{{ rowNumber }}_{{ optionNumber }}">
							</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="info">
			<h3 class='govuk-heading-s'>{{ title }}</h3>
			<div class="synopsis">
				{% for item in synopsis %}	
					<p>{{item}}</p>
				{% endfor %}
			</div>
			<div>
				<ul class="govuk-list">
					<li><a href='#'>Preview teacher resources</a></li>
					<li><a href='#'>Preview pupil resources</a></li>
				</ul>
			</div>		
		</div>

		<div class="thumbnail">
			<img src="/public/images/{{ image }}" style="width:100%" alt="">
		</div>
	</div>
	
{% endmacro %}


<div class="govuk-grid-column-full-width">

	<h1 class="govuk-heading-m" id="activity1">Part 1: 10 minutes</h1>
	<p>You can choose one resource to replace the suggested one.</p>

    <div class="responsive-grid">
		{{ slide(
			'pair reading - 5 minutes',
			'etna.jpg',
			'Video 1min 30s - Mount Kilauea, Hawaii',
			[
				'Pupils apply their prior knowledge of the different types of volcanoes, focussing on the effects of volcanic eruptions.',
				'Ask pupils to watch the video carefully, noting down as many words as they can about what they observe. Remind them of their last lesson to help them. Follow up with a discussion to check answers and test vocabulary.'
			],
			1,
			1)
		}}

		{{ slide('whole class - 10 minutes', 'flow.jpg', 'Video 2min 10s - Krakatoa', ['Pupils apply their prior knowledge of the different types of volcanoes, focussing on the effects of volcanic eruptions. '], 1, 2) }}
	</div>


    <h1 class="govuk-heading-m" id="activity2">Part 2</h1>
	<p>Only one resource is available here. It is pre-selected for you.</p>

    <div class="responsive-grid">
		{{ slide('image and text', 'dormant.jpg', 'Active, dormant and extinct volcanoes', ['A worksheet explaining the differences between active, dormant, and extinct volcanoes.'], 2, 1, true) }}
		</div>


    <h1 class="govuk-heading-m" id="activity3">Part 3</h1>
	<p>You can choose one resource to replace the suggested one.</p>

    <div class="responsive-grid">
		{{ slide('image and text', 'shield-strato-dome.jpg', 'Shield, dome and strato volcanoes', ['A worksheet task to distinguish between shield, dome, and strato volcanoes.'], 3, 1, true) }}
		{{ slide('image and text', '06-volcanocross.jpg', 'Volcano types crossword', ['A crossword to cement the vocabulary pupils should have acquired relating to the different types of volcanoes.'], 3, 2) }}
		{{ slide('image and text', 'types-of-volcano.jpg', 'How to distinguish volcanoes', ['A diagram to be annotated by pupils with their knowledge of different volcano types.'], 3, 3) }}
    </div>


    <h1 class="govuk-heading-m" id="activity4">Part 4</h1>
	<p>You can choose one resource to replace the suggested one.</p>

    <div class="responsive-grid">
		{{ slide('image and text', 'model.jpg', 'Make a volcano', ['A practical exercise in which pupils work in groups, using a chemistry set, to create a model volcano.'], 4, 1, true) }}
		{{ slide('image and text', 'feature.jpg', 'Learn volcano features', ['A practical exercise in which pupils work in groups to create an annotated poster of a volcano.'], 4, 2) }}
		{{ slide('image and text', 'chemistry.jpg', 'Volcano chemistry set', ['A practical exercise in which pupils work in groups to label a diagram of a volcano chemistry set.'], 4, 3) }}
    </div>

    <h1 class="govuk-heading-m" id="activity5">Part 5</h1>
	<p>You can choose one resource to replace the suggested one.</p>

    <div class="responsive-grid">
		{{ slide('image', 'unlabelled2.jpg', 'Unlabelled volcano diagram', ['A reading exercise in which pupils work in groups to condense their knowledge of volcano features.'], 5, 1, true) }}
		{{ slide('image', 'cross-section.jpg', 'Volcano illustrated cross section', ['A reading exercise in which pupils work in groups to test each other’s knowledge of volcano types.'], 5, 2) }}
		{{ slide('image', 'colour-in.jpg', 'Volcano label activity', ['A reading exercise in which pupils work in groups to create a diagram of a designated volcano type.'], 5, 3) }}
	</div>


    <h1 class="govuk-heading-m" id="activity6">Part 6</h1>
	<p>Only one resource is available here. It is pre-selected for you.</p>

    <div class="responsive-grid">
		{{ slide('image', 'unlabelled2.jpg', 'Volcano chemistry exam', ['An assessment to test whole-class knowledge of the different types of volcanoes.'], 6, 1, true) }}
	</div>

</div>

<a class="govuk-button" href="/unit/lesson-outline#lesson">Save selected content to lesson</a>


{% endblock %}
