{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}
{% from "button/macro.njk" import govukButton %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Curriculum materials",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "/dashboard",
        text: "Year 6",
        active: true
      },
      {
        href: "/dfe-sign-in/username",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Plan lesson 4 - Curriculum materials alpha - Department for Education
{% endblock %}
{% from "button/macro.njk" import govukButton %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li class="app-navigation--current-page">
      <a class="govuk-link" href="/unit/year" data-topnav="Get started">Geography</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Styles">History</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Components">Science</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Components">All subjects</a>
    </li>
  </ul>
</nav>
{{ govukBreadcrumbs({
  items: [
  {
    text: "Year 6",
    href: "/dashboard"
  },
  {
    text: "Geography",
    href: "/unit/year"
  },
  {
    text: "Summer 2",
    href: "/unit"
  },
  {
    text: "Lesson 4"
  }
  ]
}) }}
<a href="/unit" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
      <h1 class="govuk-heading-xl">
  <!--<span class="govuk-caption-xl">Unit 2 - Volcanoes, earthquakes and plates</span>-->
  Plan lesson 4
</h1>
{% set objectives %}
{{ govukInsetText({
  html: "<h3 class='govuk-heading-m'><a href='objective-1'>Objective: to learn the types of volcano</a></h3><ul>
    <p>To know the characterstics of different types of volcanoes, and distinguish one type from another based on its eruption style.</P>
      <p>To locate volcanoes on a map using grid coordinates.</p>"
}) }}

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Lesson overview</h2>
  <div class="govuk-grid-column-one-half">
    <h3>Core knowledge for all pupils</h3>
    <ul>
      <li>volcanoes occur at a destructive plate boundary</li>
      <li>a lava flow is molten rock only</li>
      <li>a pyroclastic flow is a mixture of molten rock, ash and gases</li>
</ul>
  </div>
  <div class="govuk-grid-column-one-half">
    <h3>Vocabulary for this learning objective</h3>
<div class="govuk-grid-column-one-half">
    <ul>
      <li>cone</li>
      <li>vent</li>
      <li>magma chamber</li>
      </ul>
      </div>
      <div class="govuk-grid-column-one-half">
      <ul>
      <li>dome</li>
      <li>shield</li>
      <li>strato</li>
    </ul>
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
<h2 class="govuk-heading-l">Misconceptions to address</h2>
<p>The following common misconceptions that pupils have should be considered when planning this lesson:</p>
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "All volcanoes erupt violently"
      },
      content: {
        html: "<p class='govuk-body'>This misconception arises from media coverage which is biased by location and death tolls.
</p>"
      }
    },
    {
      heading: {
        text: "If a volcano doesn’t erupt for a hundred years, it’s extinct"
      },
      content: {
        html: "<p class='govuk-body'>In fact, the volcano is probably just dormant.</p>"
      }
    },
      {
      heading: {
        text: "Volcanoes only form on land, not underwater"
      },
      content: {
        html: "<p class='govuk-body'>Actually, there are numerous oceanic fault lines with volcanoes forming along these without breaking the surface of the water.</p>"
      }
    },
      {
      heading: {
        text: "Magma comes from deep within the Earth’s mantle"
      },
      content: {
        html: "<p class='govuk-body'>This comes from textbooks’ saying that the magma is ‘deep’ down - in reality, virtually all magma originates in the upper portion of the mantle and crust because of plate friction.</p>"
      }
    }
  ]
}) }}
</div>
<h2 class="govuk-heading-l">Building on previous knowledge</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half">
<h3 class="govuk-heading-m">Vocabulary</h3>
<p>Pupils should already know:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>lava: red-hot liquid rock</li>
  <li>volcano: a mountain that erupts, or has erupted</li>
  <li>volcanic eruption: an explosion or outpouring of lava, rock or as from a volcano</li>
</ul>
</ul>
</div>
</div>
  <h2 class="govuk-heading-l">Downloads</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="">Background knowledge to teach this lesson effectively (PDF, 78KB)</a></li>
  </ul>
{% endset -%}



{% set outline %}
<p>You have added 7 teaching materials to this lesson.
  {% from "button/macro.njk" import govukButton %}
</p>
  {{ govukButton({
    text: "Add materials",
    href: "/unit/materialrepo"
  }) }}

<div class="govuk-grid-row">
{% from "table/macro.njk" import govukTable %}
{{ govukTable({
  caption: "",
  firstCellIsHeader: true,
  head: [
    {
      text: "Order"
    },
    {
      text: "Name"
    },
    {
      text: ""
    },
    {
      text: "Actions"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
       text: "1"
      },
      {
        html: "
        Etna erupting<br>
          <span class='govuk-caption-m'>#image</span>
        "
      },
      {
        html: "<img src='/public/images/etna.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ],
    [
      {
        text: "2"
      },
      {
        html: "
        Active, dormant and extinct volcanoes<br>
          <span class='govuk-caption-m'>#slides, #scaffolded</span>
        "
      },
      {
        html: "<img src='/public/images/active-dormant-extinct.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ],
    [
      {
        text: "3"
      },
      {
        html: "
        Shield, dome and strato volcanoes<br>
          <span class='govuk-caption-m'>#slides, #scaffolded</span>
        "
      },
      {
        html: "<img src='/public/images/shield-strato-dome.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ],
    [
      {
        text: "4"
      },
      {
        html: "
        How to distinguish volcanoes<br>
          <span class='govuk-caption-m'>#slides, #scaffolded</span>
        "
      },
      {
        html: "<img src='/public/images/types-of-volcano.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ],
    [
      {
        text: "5"
      },
      {
        html: "
        'Make a volcano' instructions<br>
          <span class='govuk-caption-m'>#enrichment, #scaffolded, #activity</span>
        "
      },
      {
        html: "<img src='/public/images/07-volcano_recipe.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ],
    [
      {
        text: "6"
      },
      {
        html: "
        Unlabelled volcano cross-section diagram<br>
          <span class='govuk-caption-m'>#image, #activity</span>
        "
      },
      {
        html: "<img src='/public/images/02-Volcano-unlabelled.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ],
    [
      {
        text: "7"
      },
      {
        html: "
      Volcano types exit ticket<br>
          <span class='govuk-caption-m'>#image, #text, #activity</span>
        "
      },
      {
        html: "<img src='/public/images/04-exit-ticket.jpg' style='width:100px' alt=''>"
      },
      {
        html: "
          <a href='#' class='govuk-!-margin-right-2'>change</a>
          <a href='#'>delete</a>
        "
      },
      {
        html: "<a href='#'><img src='/public/images/reorder-icon.svg' style='width:35px' alt='Move up / down'></a>"
      }
    ]
  ]
}) }}
</div>
{{ govukButton({
  text: "Add materials",
  href: "/unit/materialrepo"
}) }}
<h2 class="govuk-heading-l govuk-!-margin-top-9">Use this lesson</h2>
<p><a href="#">Download lesson</a></p>
<p><a href="#">Print lesson</a></p>
<p><a href="#">Share lesson</a></p>

{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Lesson objectives",
      id: "objectives",
      panel: {
        html: objectives
      }
    },
    {
      label: "Lesson outline",
      id: "outline",
      panel: {
        html: outline
      }
    }
  ]
}) }}
<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="#" class="gem-c-pagination__link"><span class="gem-c-pagination__link-title"><svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg><span class="gem-c-pagination__link-text">Previous
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Lesson 3</span>
        </a>
      </li>
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="#" class="gem-c-pagination__link">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg><span class="gem-c-pagination__link-text">Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Lesson 5</span>
        </a>
      </li>
  </ul>
</nav>
{% endblock %}
