{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Curriculum materials",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "/dashboard",
        text: "Geography",
        active: true
      },
      {
        href: "#",
        text: "History"
      },
      {
        href: "#",
        text: "Science"
      },
      {
        href: "../",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Unit page
{% endblock %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Get started">Year 9</a>
    </li>

    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Styles">Year 8</a>
    </li>

    <li class="app-navigation--current-page">
      <a class="govuk-link" href="/unit/year" data-topnav="Components">Year 7</a>
    </li>
  </ul>
</nav>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/dashboard"
    },
    {
      text: "Section",
      href: "#"
    },
    {
      text: "Subsection"
    }
  ]
}) }}
<a class="govuk-back-link" href="/unit/lesson#content">Back</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Etna erupting</h1>
<h2 class="govuk-heading-m">Mount Etna, Sicily (active, stratovolcano) erupting at night in 2019.</h2>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<div class="govuk-width-container">
      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="meta">
            <p class="govuk-body govuk-!-font-size-16">Published 19 April 2019</p>
            <p class="govuk-body govuk-!-font-size-16">Last updated 19 April 2019 &nbsp; <a href="#">See all updates</a></p>
            </div>
            {% from "panel/macro.njk" import govukPanel %}

{{ govukPanel({
  titleText: "Supports KS2 NC Geography",
  headingLevel: 4,
  html: "<ul class='govuk-list'>
    <li>locational knowledge</li>
    <li>physical geography and plate tectonics</li>
  </ul>"
}) }}

            <img src="/public/images/01-lava-flow.jpg" style="width:100%" alt="">
<h2 class="govuk-heading-m">Materials</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <img src="/public/images/01-lava-flow.jpg" style="width:100%" alt="">
    </div>
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><a href="govuk-link">Image of Mount Etna during eruption</a></h3>
    <p>Taken:</p>
    <p>JPG, 3028kb</p>
    </div>
    </div>
<h2 class="govuk-heading-m">Supports learning objectives</h2>
<ul class="govuk-list">
  <li>understand and distinguish types of volcanoes</li>
</ul>
          </div>
          <div class="govuk-grid-column-one-third">

          </div>
        </div>

      </main>
    </div>

  </main>
</div>
{% endblock %}
