{% macro slide(
	length,
	image,
	title,
	synopsis,
	rowNumber,
	optionNumber,
	checked=false,
	badge=false,
	activity_type='omg'
	) %}

	<div class="responsive-slide highlight-on-select-slide">
		<div class="radio">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="volcano1">
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="{{ rowNumber }}_{{ optionNumber }}" name="{{ rowNumber }}" type="radio" value="{{ optionNumber }}" {% if checked %}checked{% endif %}>
							<label class="govuk-label govuk-radios__label" for="{{ rowNumber }}_{{ optionNumber }}">
							</label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="info">
      <div class="heading">
        <h3 class='govuk-heading-m'>{{ title }}</h3>
        {%if badge %}{{badge | safe}}{%endif%}
        <span class="govuk-caption-m">{{ activity_type }}</span>
      </div>
			<div class="synopsis">
				{% for item in synopsis %}	
					<p>{{item}}</p>
				{% endfor %}
			</div>
			<div>
				<ul class="govuk-list">
					<li><a href='#'>Preview teacher resources</a></li>
					<li><a href='#'>Preview pupil resources</a></li>
				</ul>
			</div>		
		</div>

		<div class="thumbnail">
			<img src="/public/images/{{ image }}" style="width:100%" alt="">
		</div>
	</div>
	
{% endmacro %}
