
{% extends "layout.html" %}

{% block pageTitle %}
  Curriculum materials alpha - prototype - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li>
      <a class="govuk-link" href="#" data-topnav="Get started">Science</a>
    </li>

    <li>
      <a class="govuk-link" href="#" data-topnav="Styles">History</a>
    </li>

    <li>
      <a class="govuk-link" href="/dashboard" data-topnav="Components">Geography</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
      <h1 class="govuk-heading-xl">Year 7</h1>

<a class="govuk-link" href="/unit" data-topnav="Styles">Unit 2</a>
<img src="/public/images/year-unit-image.jpg" />
{% endblock %}
