// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.search-box {
  background-color: #dfe0e2;
  padding:20px 10px;
  margin-bottom: 40px;
  label {
    font-weight:bold;
  }
}
.card {
  .card-wrapper {
    padding: 0 20px 20px;
  }
  h3.govuk-link{
    text-decoration: none;
  }
  background-color: #f8f8f8;
  border-top: 10px solid #85994b;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
.add-to-lesson {
  margin-top: 20px;
}
.app-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
  background:#dee0e2;
}
.app-navigation__list {
  padding: 0;
  list-style: none;
  > li {
    box-sizing: border-box;
    height: 53px;
    float: right;
    line-height: 53px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      border-bottom: 4px solid #2b8cc4;
    }
    &.app-navigation--current-page {
      border-bottom: 4px solid #005ea5 !important;
      a:hover {
        color: #005ea5;
      }
    }
    a {
      font-weight: 700;
      display: block;
      padding: 0 15px;
      color: #005ea5;
      text-decoration: none;
      &:visited {
        color: #005ea5;
      }
      &:hover, &:focus {
        color: #2b8cc4;
        background-color: inherit;
      }
    }
  }
}
.app-subnav {
  padding: 30px 15px 0 0;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
}

@media print {
  .app-subnav {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .app-subnav {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    margin-left: -15px;
  }
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  display: block;
  padding: 8px 30px 8px 10px;
  border-left: 4px solid transparent;
  text-decoration: none;
  &:focus {
    background: inherit;
  }
  &:hover, &:active, &:visited {
    color: #005ea5;
  }
  &:hover {
    border-left-color: #2b8cc4;
  }
}

.app-subnav__section-item--current .app-subnav__link {
  border-left-color: #005ea5;
  background: #f8f8f8;
  font-weight: bold;
}

.app-subnav__section--nested {
  margin-bottom: 0;
  .app-subnav__link {
    padding-left: 20px;
    font-weight: 400;
  }
}

.app-subnav__theme {
  margin: 0;
  padding: 10px 15px;
  color: #6f777b;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}


.js-enabled .app-mobile-nav__subnav--active {
  display: block;
}

.app-mobile-nav__current-page {
  border-left: 4px solid #005ea5;
}

.app-mobile-nav__theme {
  margin: 0;
  padding: 20px 20px 5px 20px;
  color: #6f777b;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
}

.app-mobile-nav__theme-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  > li {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    > a {
      display: block;
      padding: 15px 20px 10px 20px;
      text-decoration: none;
    }
    &.current-page a {
      padding-left: 16px;
      border-left: 4px solid #005ea5;
    }
    &:last-child a {
      padding-bottom: 25px;
    }
  }
}

@media print {
  .app-mobile-nav__theme-nav > li {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-mobile-nav__theme-nav > li {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-mobile-nav__theme-nav > li {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.js-enabled .app-mobile-nav__subnav-toggler--active {
  border-top: 1px solid #fff;
}

.app-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
}

@media print {
  .app-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (max-width: 40.0525em) {
  .app-navigation {
    display: none;
  }
}


.app-navigation__list {
  padding: 0;
  list-style: none;
  > li {
    box-sizing: border-box;
    height: 53px;
    float: right;
    line-height: 53px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      border-bottom: 4px solid #2b8cc4;
    }
    &.app-navigation--current-page {
      border-bottom: 4px solid #005ea5 !important;
      a:hover {
        color: #005ea5;
      }
    }
    a {
      font-weight: 700;
      display: block;
      padding: 0 15px;
      color: #005ea5;
      text-decoration: none;
      &:visited {
        color: #005ea5;
      }
      &:hover, &:focus {
        color: #2b8cc4;
        background-color: inherit;
      }
    }
  }
}.page-numbers-container {
  border-top: 1px solid #bfc1c3;
  margin-top: 0px;
  padding-top: 30px;
  overflow: hidden;
  .next, .previous {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .next a, .previous a {
    display: block;
    background-repeat: no-repeat;
    background-size: 17px 14px;
  }
  .next {
    float: right;
    text-align: right;
    a {
      padding-right: 30px;
      background-image: url("/public/images/arrow-pagination-right.svg");
      background-position: 100% 4px;
    }
  }
}

.lt-ie11 .page-numbers-container .next a, .lte-ie8 .page-numbers-container .next a {
  background-image: url("/public/images/arrow-pagination-right.png");
}

.page-numbers-container .previous {
  float: left;
  text-align: left;
  a {
    padding-left: 30px;
    background-image: url("/public/images/arrow-pagination-left.svg");
    background-position: 0 4px;
  }
}

.lte-ie11 .page-numbers-container .previous a, .lte-ie8 .page-numbers-container .previous a {
  background-image: url("/public/images/arrow-pagination-left.png");
}

.page-navigation {
  .previous, .next {
    width: 49%;
  }
  .previous {
    margin-right: 2%;
  }
}

@media (max-width: 370px) {
  .page-navigation {
    .previous, .next {
      width: 100%;
    }
  }
}

@media (max-width: 370px) {
  .page-navigation .previous {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.pagination-container {
  margin-bottom: 30px;
}

.pagination {
  margin: 0 auto;
  text-align: center;
  ul {
    display: inline-block;
    margin: 0 10px;
    > {
      li {
        display: inline;
        padding-left: 0;
        &:first-child > a {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:last-child > a {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        > a {
          padding: 4px 12px;
          line-height: 20px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            background: transparent;
          }
          &:focus {
            text-decoration: underline;
            background: transparent;
            background: #ffbf47;
            outline: 3px solid #ffbf47;
            outline-offset: 0;
          }
        }
      }
      .active {
        span {
          color: #999;
          cursor: default;
          background: transparent;
        }
        a {
          color: #999;
          cursor: default;
          background: transparent;
          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .pagination ul {
    margin-top: 15px;
  }
}

.grid {
	display: flex;
	flex-wrap: wrap;

  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $govuk-border-colour;
}

.slide {
  display: flex;
  flex: 1 0 33%;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 0;

  padding: .9rem;

  header {
    flex-grow: 0;
  }

  section {
    flex-grow: 1;
  }

  footer {
    flex-grow: 0;
  }
}

.responsive-grid {
  //border-bottom: 1px solid $govuk-border-colour;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  h3 {
    margin-bottom: 0;
  }

  .govuk-caption-m {
    margin-bottom: 0.6rem;
  }

  .responsive-slide {
    display: flex;

    .heading {
      h3 {
        display: inline-block;
      }
      strong.govuk-tag {
        margin-left: 15px;
        padding-top: 3px;
        padding-bottom: 2px;
      }
    }
		
		.radio {
			padding-top: 0.05rem;
		}

    .info {
      flex-grow: 1;
			padding: 0.5rem;
			
    }

    @include govuk-media-query($until: desktop) {                                                                                                                                                  
      .thumbnail {
        display: none;
      }
    }

    @include govuk-media-query($until: tablet) {                                                                                                                                                  
      .synopsis > p:not(:first-child) {
        display: none;
      }
    }

    @include govuk-media-query($until: mobile) {                                                                                                                                                  
      .synopsis {
        display: none;
      }
    }

    .thumbnail {
      > img {
        min-width: 150px;
        max-width: 150px;
        height: auto;
      }
    }
  }
}

.red {
	border: 1px dotted red;
}

.blue {
	border: 1px dotted blue;
}

.key-stage-subject-list {
  .govuk-summary-list__row.summary-list__row--heading {
    dt.govuk-summary-list__key, dd.govuk-summary-list__value {
      font-weight: bold;
      border-bottom: 1px solid #bfc1c3;
    }
  }
  .govuk-summary-list__row {
    dt.govuk-summary-list__key, dd.govuk-summary-list__value {
      font-weight: normal;
    }
  }
}

.unit-card-heading {
  padding-top: 15px;

  .unit-card-heading-number {
    @extend .govuk-grid-column-one-quarter;
    width: 20%;
    padding-right: 0;
    h3.govuk-heading-xl {
      margin-bottom: 0;
			font-size:72px;
			color: #626a6e;
    }
  }

  .unit-card-heading-name {
    @extend .govuk-grid-column-one-quarter;
    width: 80%;
    padding-left: 15px;
    h3.govuk-heading-m {
      padding-left: 0;
    }
  }
}

h3.lesson-number {
  margin-top: 15px;
  margin-bottom: 15px;
	font-size:60px;
	color: #626a6e;
}

h3.lesson-number-small {
  margin-top: 5px;
  margin-bottom: 5px;
	font-size:44px;
	color: #626a6e;
}

.right-nav {
	padding-left: 50px;
	.Aligner {
		
		.Aligner-item {
			
		  .app-subnav {

		  }
		}

	}
}

.govuk-se-masthead {
  @include govuk-font(16);
  @include govuk-responsive-padding(6);
  background-color: govuk-colour("blue");
  * {
    color: govuk-colour("white");
    a.govuk-link {
      color: govuk-colour("white");
    }
  }
  .govuk-button {
    background-color: govuk-colour("white");
    color: govuk-colour("blue");
    margin: 0;
  }
}

.govuk-se-button--start {
  @include govuk-typography-weight-bold;
  @include govuk-typography-responsive($size: 24, $override-line-height: 1);
  min-height: auto;
  padding-top: govuk-spacing(2) - $govuk-border-width-form-element;
  padding-right: govuk-spacing(7);
  padding-bottom: govuk-spacing(2) - $govuk-border-width-form-element;
  padding-left: govuk-spacing(3);
  background-image: url("/public/images/icon-pointer--blue.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.highlighted {
  h3 {
    text-decoration: underline;
    background-color: #ffdd00;
    display: table;
  }
}

.grey-text-helper {
	color: gray;
}

.table-header-colour {
	background-color: #cce9ff;
}

.table-description-column {padding-left: 20px;}

tbody > tr > .table-header-identifier {
	text-align: center;
	padding: 5px 7px;
}

.govuk-tag {
	background-color: gray;
}

#lesson-outline-container {
	th:last-of-type {
		min-width: 120px;
	}
}

ol.step-by-step-navigation {
  $navigation-color: #626a6e;
  //$navigation-color: black;
  max-width: 66%;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
  counter-reset: steps;
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;

  li:nth-of-type(2) {
    width: 150%; // this one contains the table
  }

  li.navigation-step {
    padding: 15px 0 20px 100px;
    position: relative;
    margin: 0;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: counter(steps);
      counter-increment: steps;
      font-size: 45px; // number size
      color: $navigation-color;
      border: 5px solid $navigation-color;
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 53px; // move number up or down
      background: #fff;
    }

    &:before {
      position: absolute;
      left: 29px; // line position
      top: 0;
      content: "";
      height: 100%;
      width: 0;
      border-left: 5px dashed $navigation-color; // line width
    }

    &:last-of-type:before {
      border: none;
    }
  }
}

#lesson-contents-tabs {
	.govuk-tabs__tab--selected,
	.govuk-tabs__panel {
		background-color: #f0f9ff;
	}
	
	.govuk-tabs__list {
		border-bottom: 1px solid black;
	}
	
	.govuk-tabs__panel {
		border: 1px solid black;
		border-top: 0;
	}
	
	.govuk-tabs__tab--selected {
		border: 1px solid black;
		border-bottom: 0;
	}
	
	td.table-activity-column,
	td.table-header-identifier,
	td.table-description-column {
		background-color: white;
	}
}

#govuk-table__cell {
			background-color: #ffffff;
}