// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.app-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
  background:#dee0e2;
}
.app-navigation__list {
  padding: 0;
  list-style: none;
  > li {
    box-sizing: border-box;
    height: 53px;
    float: right;
    line-height: 53px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      border-bottom: 4px solid #2b8cc4;
    }
    &.app-navigation--current-page {
      border-bottom: 4px solid #005ea5 !important;
      a:hover {
        color: #005ea5;
      }
    }
    a {
      font-weight: 700;
      display: block;
      padding: 0 15px;
      color: #005ea5;
      text-decoration: none;
      &:visited {
        color: #005ea5;
      }
      &:hover, &:focus {
        color: #2b8cc4;
        background-color: inherit;
      }
    }
  }
}
.app-subnav {
  padding: 30px 15px 0 0;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
}

@media print {
  .app-subnav {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .app-subnav {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    margin-left: -15px;
  }
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  display: block;
  padding: 8px 30px 8px 10px;
  border-left: 4px solid transparent;
  text-decoration: none;
  &:focus {
    background: inherit;
  }
  &:hover, &:active, &:visited {
    color: #005ea5;
  }
  &:hover {
    border-left-color: #2b8cc4;
  }
}

.app-subnav__section-item--current .app-subnav__link {
  border-left-color: #005ea5;
  background: #f8f8f8;
  font-weight: bold;
}

.app-subnav__section--nested {
  margin-bottom: 0;
  .app-subnav__link {
    padding-left: 20px;
    font-weight: 400;
  }
}

.app-subnav__theme {
  margin: 0;
  padding: 10px 15px;
  color: #6f777b;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}
@media (min-width: 40.0625em){ .js-enabled .govuk-tabs__panel{border-left:none;border-right:none;}}
.app-mobile-nav__subnav > li.current-page a {
  border-left: 4px solid #005ea5;
}

.js-enabled .app-mobile-nav__subnav--active {
  display: block;
}

.app-mobile-nav__current-page {
  border-left: 4px solid #005ea5;
}

.app-mobile-nav__theme {
  margin: 0;
  padding: 20px 20px 5px 20px;
  color: #6f777b;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
}

.app-mobile-nav__theme-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  > li {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    > a {
      display: block;
      padding: 15px 20px 10px 20px;
      text-decoration: none;
    }
    &.current-page a {
      padding-left: 16px;
      border-left: 4px solid #005ea5;
    }
    &:last-child a {
      padding-bottom: 25px;
    }
  }
}

@media print {
  .app-mobile-nav__theme-nav > li {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-mobile-nav__theme-nav > li {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-mobile-nav__theme-nav > li {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.js-enabled .app-mobile-nav__subnav-toggler--active {
  border-top: 1px solid #fff;
}

.app-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
}

@media print {
  .app-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (max-width: 40.0525em) {
  .app-navigation {
    display: none;
  }
}

.app-navigation__list {
  padding: 0;
  list-style: none;
  > li {
    box-sizing: border-box;
    height: 53px;
    float: right;
    line-height: 53px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      border-bottom: 4px solid #2b8cc4;
    }
    &.app-navigation--current-page {
      border-bottom: 4px solid #005ea5 !important;
      a:hover {
        color: #005ea5;
      }
    }
    a {
      font-weight: 700;
      display: block;
      padding: 0 15px;
      color: #005ea5;
      text-decoration: none;
      &:visited {
        color: #005ea5;
      }
      &:hover, &:focus {
        color: #2b8cc4;
        background-color: inherit;
      }
    }
  }
}
