{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}
{% from "button/macro.njk" import govukButton %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "details/macro.njk" import govukDetails %}
{% block content %}
<h1 class="govuk-heading-xl">
  DfE Sign-in</h1>
<p class="govuk-body-l">
  DfE Sign-in is the new way to access some specific education sector services. To use DfE Sign-in you will need to <a href="#">create an account.</a>
</p>
{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "Sign in",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      text: "Email address"
    },
    id: "",
    name: "email"
  }) }}

  {{ govukInput({
    label: {
      text: "Password"
    },
    id: "",
    name: "password"
  }) }}


{{ govukInsetText({
  text: "By continuing you accept the terms and conditions."
}) }}
{{ govukButton({
  text: "Sign in",
  href: "/",
  classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
}) }}
{% endcall %}


{{ govukDetails({
  summaryText: "Having problems?",
  text: "If you are having problems using the DfE Sign-in service, follow DfE Sign-in Help. You will be able to request further assistance if required."
}) }}
{% endblock %}
