<h3 class='govuk-heading-l'>Download the lesson plan and resources </h3>

<p class="govuk-body">You can download this lesson plan and the resources you’ll need to teach the lesson. </p>



<a href="/resources/Battle_of_Hastings.pptx" button class="govuk-button govuk-button" data-module="govuk-button">
 Download lesson plan and resources
</a>

<br>
<br>
<br>
<br>

<h3 class='govuk-heading-m'>View and prepare the next lesson</h3>


<p class="govuk-body">Once you’ve downloaded this lesson plan and all its resources, you can continue to  the next lesson. </p>

<p><a class="govuk-link" href="/unit">Go to next lesson</a></p>

<!--
<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="/resources/pupil_resources.zip">Download worksheets for printing</a></p>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="/resources/Battle_of_Hastings.pptx">Download PowerPoint presentation</a></p>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download lesson plan</a></p> 
-->