<h3 class='govuk-heading-l'>Download the lesson plan and resources </h3>

<p class="govuk-body">You can download this lesson plan and the resources you’ll need to teach the lesson. </p>

<br>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download lesson plan</a></p>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download teacher resources</a></p> 

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download pupil resources</a></p> 

<h3 class='govuk-heading-m'>Plan the next lesson</h3>


<p class="govuk-body">Once you’ve downloaded this lesson plan and all its resources, you can continue to plan the next lesson. </p>

<a href="/unit" button class="govuk-button govuk-button" data-module="govuk-button">
  Plan the next lesson
</a>
