<h3 class="govuk-heading-l">Understand and choose the lesson contents </h3>

<p class="govuk-body">This lesson has been sequenced in a suggested order. If you'd like to make changes, you can search for alternative resources.  </p>


		
		<table class="govuk-table">
  
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th class="govuk-table__header table-header-colour" scope="col"></th>
    
      <th class="govuk-table__header table-header-colour" scope="col">Activity</th>
    
      <th class="govuk-table__header table-header-colour table-description-column" scope="col">Teaching this activity</th>
    
      <th class="govuk-table__header table-header-colour" scope="col">Change activity</th>
    
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">1</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-do-it-now.png" style="width:75px" alt=""><br><strong>Do it now</strong></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Matching key words with definitions</h3>As students enter the room, direct them to try and match up each key word with the correct definition. They should write the number with the correct letter in their books. Feed back and show correct responses.<br><br><strong class="govuk-tag" id="prep">extra prep</strong><br><br>Approximately 5 minutes<br><br><a href="#">Preview keywords</a>&nbsp;&nbsp;<strong class="govuk-tag-doc" id="prep">.pdf&nbsp;</strong></td>
      
    
      
      <td class="govuk-table__cell table-activity-column"><ul class="govuk-list"><li>Do it now available</li><br><li>Do it now available</li></ul><a href="/unit/lesson-grid-activity1">Change activity</a></td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">2</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-teacher.png" style="width:75px" alt=""><strong>Teacher instruction</strong><br><br><img src="/public/images/thumb-reading-inv.png" style="width:75px" alt=""><strong>Reading</strong></td>
      
    
      
      <td class="govuk-table__cell table-description-column">
				<h3 class="govuk-heading-m">Understanding the events of the battle in chronological order</h3>
				For this lesson, students need to know the events of the battle in chronological order. The teacher uses the maps on the presentation slides to remind students what led up to the battle. Students then read the Word document “description of the Battle of Hastings” either as a group taking it in turns to read aloud or independently.
				<br>
				<br>
				
				<strong class="govuk-tag" id="prep">printing required</strong>
				<br><br>
				Approximately 10 minutes<br><br>

				
				
								<details class="govuk-details" data-module="govuk-details">
								  <summary class="govuk-details__summary">
								    <span class="govuk-details__summary-text">
								      Preview resources
								    </span>
								  </summary>
								  <div class="govuk-details__text">
				<p><a class="govuk-link" href="/resources/pupil_resources.zip">Preview battle description worksheet</a>&nbsp;&nbsp;<strong class="govuk-tag-doc" id="prep">.pdf&nbsp;</strong></p>

				<p><a class="govuk-link" href="/resources/Battle_of_Hastings.pptx">Preview video recap of the battle</a>&nbsp;&nbsp;<strong class="govuk-tag-video" id="prep">.mp4&nbsp;</strong></p>

				<p><a class="govuk-link" href="">Preview storyboard worksheet</a>&nbsp;&nbsp;<strong class="govuk-tag-audio" id="prep">.mp3&nbsp;</strong></p> 
								  </div>
								</details>
			</td>
			
      <td class="govuk-table__cell table-activity-column"><ul class="govuk-list"><li>Video activity available</li><br><li>Drawing available</li></ul><a href="/unit/lesson-grid-activity2">Change activity</a></td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">3</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-verbal-recap.png" style="width:75px" alt=""><strong>Verbal recap</strong><br><br></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Verbal retelling of the battle</h3>Give students slips of paper at random, but make sure the student with the first event knows who they are. Get them to read out their slip and see how smoothly the whole class can get through the story. This exercise requires participants to have understood the order of events and be alert for when their turn to read arises. Teachers can make this more competitive by making students start again if there is a pause of more than a couple of seconds between each student.<br><br><strong class="govuk-tag" id="prep">printing required</strong><br><br>Approximately 5 minutes<br><br><a href="#">Preview slips</a>&nbsp;&nbsp;<strong class="govuk-tag-doc" id="prep">.pdf&nbsp;</strong> </td>
      
    
      
      <td class="govuk-table__cell table-activity-column">No alternatives</td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">4</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-card-sort.png" style="width:75px" alt=""><strong>Card sort</strong><br><br></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Understanding why William won the Battle of Hastings</h3>Students can work individually, in pairs or in groups for this activity. Instructions for the activity are provided on the presentation slide. Students decide which statements on the cards are irrelevant to answering the question “Why did William win the Battle of Hastings?” and discard them. Then they categorise the cards under different headings. Higher attainers can be encouraged to come up with their own category headings or think of alternatives to the one you give them.<br><br><strong class="govuk-tag" id="prep">extra prep</strong><br><br>Approximately 15 minutes<br><br><a href="#">Preview cards</a>&nbsp;&nbsp;<strong class="govuk-tag-doc" id="prep">.pdf&nbsp;</strong></td>
      
    
      
      <td class="govuk-table__cell table-activity-column"><ul class="govuk-list"><li>Reading available</li></ul><a href="/unit/lesson-grid-activity4">Change activity</a></td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">5</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-teacher.png" style="width:75px" alt=""><strong>Teacher instruction</strong></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Understanding how to construct paragraphs</h3>Show students example paragraphs and get them to verbally feed back on what they think is wrong with the first one. Then show the better paragraph, and use questioning to get students to identify what is better about this piece of writing before you show them the complete annotated version.<br><br>Approximately 5 minutes</td>
      
    
      
      <td class="govuk-table__cell table-activity-column">No alternatives</td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">6</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-writing-inv.png" style="width:75px" alt=""><strong>Writing</strong></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Students write their own paragraphs</h3>Students attempt their own paragraphs. Starter sentences can be displayed on the slide for students who need more support.<br><br>Approximately 10 minutes</td>
      
    
      
      <td class="govuk-table__cell table-activity-column">No alternatives</td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour"><h3 class="lesson-number">7</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-worksheet-inv.png" style="width:75px" alt=""><strong>Peer assessment</strong></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Students assess a partner's paragraph</h3>Ask students to use the checklist on the slide to feed back on the work of the person next to them. They can either award a mark for each element of the checklist that is present, or write a “what went well” and an “even better if” for their partner.<br><br>Approximately 5 minutes</td>
      
    
      
      <td class="govuk-table__cell table-activity-column">No alternatives</td>
      
    
    </tr>
    
    <tr class="govuk-table__row">
    
      
      <td class="govuk-table__cell table-header-identifier table-header-colour-blue"><h3 class="lesson-number">8</h3></td>
      
    
      
      <td class="govuk-table__cell table-header-identifier"><img src="/public/images/thumb-whole-inv.png" style="width:75px" alt=""><strong>Whole class </strong><br><br><img src="/public/images/thumb-plenary.png" style="width:75px" alt=""><strong>Plenary</strong></td>
      
    
      
      <td class="govuk-table__cell table-description-column"><h3 class="govuk-heading-m">Students share their paragraphs</h3>Ask a student to read out their paragraph and either offer feedback or get other students to offer verbal feedback.<br><br>Approximately 5 minutes</td>
      
    
      
      <td class="govuk-table__cell table-activity-column">No alternatives</td>
      
    
    </tr>
    
  </tbody>
</table>

<h4 class='govuk-heading-m'>Downloads</h4>

<a href="/unit/lesson-outline#downloads">Go to downloads </a>



<!--
				<details class="govuk-details" data-module="govuk-details">
				  <summary class="govuk-details__summary">
				    <span class="govuk-details__summary-text">
				      Preview resources
				    </span>
				  </summary>
				  <div class="govuk-details__text">
<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="/resources/pupil_resources.zip">Download worksheets for printing</a>&nbsp;&nbsp;<strong class="govuk-tag-doc" id="prep">.pdf&nbsp;</strong></p>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="/resources/Battle_of_Hastings.pptx">Download video presentation</a>&nbsp;&nbsp;<strong class="govuk-tag-video" id="prep">.mp4&nbsp;</strong></p>

<p><img src='/public/images/icon-download.png' style='width:30px' alt=''><a class="govuk-link" href="">Download audio</a>&nbsp;&nbsp;<strong class="govuk-tag-audio" id="prep">.wav&nbsp;</strong></p> 
				  </div>
				</details>
-->