<h3 class='govuk-heading-l'>Understand and choose the lesson contents </h3>

<p class="govuk-body">This lesson has been sequenced in a suggested order. If you'd like to make changes, you can search for alternative resources.  </p>


		{% from "table/macro.njk" import govukTable %}
		{{ govukTable({
		  caption: "",
		  head: [
		    {
		      text: "",
					classes: "table-header-colour"								
		    },			
		    {
		      text: "Activity",
					classes: "table-header-colour"	
		    },			
		    {
		      text: "Teaching this activity",
					classes: "table-header-colour table-description-column"
		    },
		    {
		      text: "Change activity",
					classes: "table-header-colour"	
		    }					
		  ],
		  rows: [
				[
		      {
		       html: "<h3 class='lesson-number'>1</h3>",
						classes: "table-header-identifier table-header-colour"	
		      },						
		      {
		        html: "<img src='/public/images/thumb-do-it-now.png' style='width:75px' alt=''><br><strong>Do it now</strong></div>",
						classes: "table-header-identifier"
					},					
		      {
            html: "As students enter the room, direct them to try and match up each key word with the correct definition. They should write the number with the correct letter in their books. Feed back and show correct responses.<br><br><strong>Approximately 5 minutes</strong><br>File formats: .doc <a href='/unit/lesson-grid#activity1'>Preview</a><br><br><strong class='govuk-tag' id='prep'>missing</strong>",
						classes: "table-description-column"				
		      },
		      {
		        html: '<ul class="govuk-list"><li>Do it now available</li><br><li>Do it now available</li></ul><a href="/unit/lesson-grid#activity1">Change activity</a>'
		      }			
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>2</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-teacher.png' style='width:75px' alt=''><strong>Teacher instruction</strong><br><br><img src='/public/images/thumb-reading-inv.png' style='width:75px' alt=''><strong>Reading</strong></div>",
						classes: "table-header-identifier"	
		      },					
		      {
		        html: "For this lesson, students need to know the events of the battle in chronological order. The teacher uses maps on slides 6 and 7 to remind students what led up to the battle. Students then read the Word document “description of the Battle of Hastings” either as a group taking it in turns to read aloud or independently.<br><br><strong>Approximately 10 minutes</strong><br>File format: .doc .ppt <a href='/unit/lesson-grid#activity2'>Preview</a><br><br><strong class='govuk-tag' id='prep'>printing required</strong>",
						classes: "table-description-column"		
		      },					
		      {
		        html: '<ul class="govuk-list"><li>Video activity available</li><br><li>Drawing available</li></ul><a href="/unit/lesson-grid#activity2">Change activity</a>'	
		      }			
		    ],
		    [
		      {
		      html: "<h3 class='lesson-number'>3</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		      	html: "<img src='/public/images/thumb-verbal-recap.png' style='width:75px' alt=''><strong>Verbal recap</strong><br><br></div>",
						classes: "table-header-identifier"	
		      },				
		      {
		        html: "Give students slips of paper at random, but make sure the student with the first event knows who they are. Get them to read out their slip and see how smoothly the whole class can get through the story. This exercise requires participants to have understood the order of events and be alert for when their turn to read arises. Teachers can make this more competitive by making students start again if there is a pause of more than a couple of seconds between each student.<br><br><strong>Approximately 5 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity3'>Preview</a><br><br><strong class='govuk-tag' id='prep'>printing required</strong> ",
						classes: "table-description-column"	
					},									
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>4</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-card-sort.png' style='width:75px' alt=''><strong>Card sort</strong><br><br>",
						classes: "table-header-identifier"	
		      },				
		      {
		        html: "Students can work individually, in pairs or in groups for this activity. Instructions for the activity are on slide 9. Students decide which statements on the cards are irrelevant to answering the question “Why did William win the Battle of Hastings?” and discard them. Then they categorise the cards under different headings. Higher attainers can be encouraged to come up with their own category headings or think of alternatives to the one you give them.<br><br><strong>Approximately 15 minutes</strong><br><br><strong class='govuk-tag' id='prep'>extra prep</strong>",
						classes: "table-description-column"								
		      },
		      {
		        html: '<ul class="govuk-list"><li>Reading available</li></ul><a href="/unit/lesson-grid#activity4">Change activity</a>'
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>5</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-teacher.png' style='width:75px' alt=''><strong>Teacher instruction</strong></div>",
						classes: "table-header-identifier"	
		      },				
		      {
		        html: "Show students example paragraphs and get them to verbally feed back on what they think is wrong with the first one. Then show the better paragraph, and use questioning to get students to identify what is better about this piece of writing before you show them the complete annotated version.<br><br><strong>Approximately 5 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>6</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-writing-inv.png' style='width:75px' alt=''><strong>Writing</strong>",
						classes: "table-header-identifier"	
		      },			
		      {
		        html: "Students attempt their own paragraphs. Starter sentences can be displayed on the slide for students who need more support.<br><br><strong>Approximately 10 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },				
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>7</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-worksheet-inv.png' style='width:75px' alt=''><strong>Peer assessment</strong>",
						classes: "table-header-identifier"	
		      },			
		      {
		        html: "Ask students to use the checklist on the slide to feed back on the work of the person next to them. They can either award a mark for each element of the checklist that is present, or write a “WWW” and an “EBI” for their partner.<br><br><strong>Approximately 5 minutes</strong><br>File format: .ppt <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },				
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ],
		    [
		      {
		       html: "<h3 class='lesson-number'>8</h3>",
					classes: "table-header-identifier table-header-colour"
		      },						
		      {
		        html: "<img src='/public/images/thumb-whole-inv.png' style='width:75px' alt=''><strong>Whole class </strong><br><br><img src='/public/images/thumb-plenary.png' style='width:75px' alt=''><strong>Plenary</strong>",
						classes: "table-header-identifier"	
		      },			
		      {
		        html: "Ask a student to read out their paragraph and either offer feedback or get other students to offer verbal feedback.<br><br><strong>Approximately 5 minutes</strong><br>File format: .doc <a href='/unit/lesson-grid#activity1'>Preview</a>",
						classes: "table-description-column"								
		      },				
		      {
		        html: "No alternatives",
						classes: "grey-text-helper"					
		      }
		    ]										
		  ]
		}) }}

<a href="/unit/lesson-outline#downloads" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  <strong>3 -</strong> Downloads
</a>
