.gem-c-pagination {
    display: block;
    margin: 30px -15px;
}

.gem-c-pagination__list {
    margin: 0;
    padding: 0;
}

.gem-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    list-style: none;
}

.gem-c-pagination__link:hover, .gem-c-pagination__link:active, .gem-c-pagination__link:visited, .gem-c-pagination__link:focus {
    color: #005ea5;
}

.gem-c-pagination__link-title {
    display: block;
}

.gem-c-pagination__link-divider {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.visually-hidden, .visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.gem-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    list-style: none;
}

.gem-c-pagination__link {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.gem-c-pagination__link-label {
    display: inline-block;
    margin-top: .1em;
    text-decoration: underline;
    margin-left: 27px;
}

.gem-c-pagination__link-text {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-left: 10px;
  }
