{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Access curriculum resources",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
 Style guide
{% endblock %}
{% from "button/macro.njk" import govukButton %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukBreadcrumbs({
  items: [
  {
    text: "Year 6",
    href: "/keystage3-geography"
  },
  {
    text: "Geography",
    href: "/geography"
  },
  {
    text: "Summer 2",
    href: "/unit"
  },
  {
    text: "Lesson 1"
  }
  ]
}) }}

<a href="/unit" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Writing well for the web
		</h1>
  </div>
</div>


<p>People read differently on the web than they do on paper. This means that the best approach when writing for the web is different from writing for print.</p>

<p>Government Digital Service’s (GDS) guidance on writing for GOV.UK is based on research into how people read online and how people use GOV.UK. It explains what each rule is based on.</p>

<p></p>

<p class="govuk-body">When you write for GOV.UK you should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>use writing for the web best practice</li>
  <li>follow the GDS style guide and writing guidance</li>
</ul>

<div class="govuk-accordion" data-module="accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Meet the user need
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Good content is easy to read
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          How users read web pages
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Writing body copy
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
           Abbreviations and acronyms
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
          Naming files
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
          A-Z style
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
      <p class='govuk-body'>Copy</p>
    </div>
  </div>				
</div>		



<a href="enter-ccp" button class="govuk-button govuk-button" data-module="govuk-button">
  Continue
</a>
{% endblock %}
