
{% extends "layout.html" %}

{% block pageTitle %}
  Curriculum materials alpha - prototype - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li>
      <a class="govuk-link" href="/dashboard" data-topnav="Get started">Science</a>
    </li>

    <li>
      <a class="govuk-link" href="#" data-topnav="Styles">History</a>
    </li>

    <li>
      <a class="govuk-link" href="#" data-topnav="Components">Geography</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
      <h1 class="govuk-heading-xl">Plan your curriculum</h1>
      {% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "",
        firstCellIsHeader: true,
        head: [
          {
            text: "Year"
          },
          {
            text: "Term"
          },
          {
            text: "Topic"
          },
          {
            text: "Taught"
          },
          {
            text: "Planned"
          },
          {
            text: "To plan"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: "<a href='/unit/year'>Year 7</a>"
            },
            {
              text: "Summer 2"
            },
            {
              text: "Volcanoes, earthquakes and migration"
            },
            {
              text: "3"
            },
            {
              text: "1"
            },
            {
              text: "2"
            }
          ],
          [
            {
              html: "<a href='/unit/year'>Year 8</a>"
            },
            {
              text: "Summer 2"
            },
            {
              text: "Volcanoes, earthquakes and migration"
            },
            {
              text: "3"
            },
            {
              text: "1"
            },
            {
              text: "2"
            }
          ],
          [
            {
              html: "<a href='/unit/year'>Year 9</a>"
            },
            {
              text: "Summer 2"
            },
            {
              text: "Volcanoes, earthquakes and migration"
            },
            {
              text: "3"
            },
            {
              text: "1"
            },
            {
              text: "2"
            }
          ]
        ]
      }) }}

{% endblock %}
