
{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Curriculum materials",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "/dashboard",
        text: "Geography",
        active: true
      },
      {
        href: "#",
        text: "History"
      },
      {
        href: "#",
        text: "Science"
      },
      {
        href: "../",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Curriculum materials alpha - prototype - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">

    <li>
      <a class="govuk-link" href="#" data-topnav="Get started">Year 6</a>
    </li>

    <li>
      <a class="govuk-link" href="#" data-topnav="Styles">Year 5</a>
    </li>

    <li>
      <a class="govuk-link" href="#" data-topnav="Components">Year 4</a>
    </li>

    <li>
      <a class="govuk-link" href="#" data-topnav="Components">Year 3</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div style="padding:40px 0;width:100%;background:#f8f8f8;">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Plan and resource your geography curriculum</h1>


<h2 class="govuk-heading-m">Welcome Veronica</h2>
<p class="govuk-body-l">Godalming Junior School</p>
<p class="govuk-body">See and plan your geography curriculum across the whole of the key stage. Review the unit to see the objectives and ensure that they work in sequence, then add teaching materials to your lesson.</p>
</div>
      </div>
        </div>

      {% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "",
        firstCellIsHeader: true,
        head: [
          {
            text: "Year"
          },
          {
            text: "Term"
          },
          {
            text: "Unit"
          },
          {
            text: "Taught"
          },
          {
            text: "Planned"
          },
          {
            text: "To plan"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
             text: "3"
            },
            {
              text: "Summer 2"
            },
            {
              html: "<a href='#'>The United Kingdom</a>"
            },
            {
              text: "3"
            },
            {
              text: "3"
            },
            {
              text: "0"
            }
          ],
          [
            {
              text: "4"
            },
            {
              text: "Summer 2"
            },
            {
                html: "<a href='#'>Migration</a>"
            },
            {
              text: "3"
            },
            {
              text: "3"
            },
            {
              text: "0"
            }
          ],
          [
            {
              text: "5"
            },
            {
              text: "Summer 2"
            },
            {
              html: "<a href='#'>Climate change</a>"
                        },
            {
              text: "4"
            },
            {
              text: "2"
            },
            {
              text: "0"
            }
          ],
          [
            {
              text: "6"
            },
            {
              text: "Summer 2"
            },
            {
              html: "<a href='/unit'>Volcanoes, earthquakes and plates</a>"
            },
            {
              text: "3"
            },
            {
              text: "2"
            },
            {
              text: "1"
            }
          ]
        ]
      }) }}


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Two-thirds column</h1>
              <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
            </div>

            <div class="govuk-grid-column-one-third">
              <div><h2 class="heading-medium">Get help using this service</h2><p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="/webchat/chat/" target="'_blank'">use webchat</a></p><p class="grey font-xsmall">8am to 10pm, 7 days a week<br></p><p>More ways to <a href="/contact-us">contact us</a></p></div>
            </div>
          </div>

{% endblock %}
