
{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Curriculum materials",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "#",
        text: "Year 6",
        active: true
      },
      {
        href: "/dfe-sign-in/username",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Curriculum materials alpha - prototype - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li>
      <a class="govuk-link" href="/unit/year" data-topnav="Get started">Geography</a>
    </li>

    <li>
      <a class="govuk-link" href="/dashboard" data-topnav="Styles">History</a>
    </li>

    <li>
      <a class="govuk-link" href="/dashboard" data-topnav="Components">Science</a>
    </li>

    <li>
      <a class="govuk-link" href="/dashboard" data-topnav="Components">All subjects</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Plan and resource your year 6 curriculum</h1>


<h2 class="govuk-heading-m">Welcome Veronica</h2>
<p class="govuk-body-l" style="color:#6f777b;">Godalming Junior School</p>
<p class="govuk-body">See and plan your geography curriculum across the whole of the key stage. Review the unit to see the objectives and ensure that they work in sequence, then add teaching materials to your lesson.</p>
</div>
        </div>

      {% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "",
        firstCellIsHeader: true,
        head: [
          {
            text: "Subject"
          },
          {
            text: "Term"
          },
          {
            text: "Unit"
          },
          {
            text: "Lessons taught"
          },
          {
            text: "Lessons planned"
          },
          {
            text: "Lessons to plan"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
             html: "<p class='govuk-body govuk-!-font-weight-bold'>History</p>"
            },
            {
              html: "<p class='govuk-body'>Summer&nbsp;2</p>"
            },
            {
              html: "<p class='govuk-body'><a href='#'>World War 2</a></p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>3</p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>3</p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>0</p>"
            }
          ],
          [
            {
              html: "<p class='govuk-body govuk-!-font-weight-bold'>Science</p>"
            },
            {
              html: "<p class='govuk-body'>Summer&nbsp;2</p>"
            },
            {
              html: "<p class='govuk-body'><a href='#'>Reproduction</a></p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>3</p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>3</p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>0</p>"
            }
          ],

          [
            {
              html: "<p class='govuk-body govuk-!-font-weight-bold'>Geography</p>"
            },
            {
              html: "<p class='govuk-body'>Summer&nbsp;2</p>"
            },
            {
              html: "<p class='govuk-body'><a href='/unit'>Volcanoes, earthquakes and plates</p></a>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>3</p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>2</p>"
            },
            {
              html: "<p class='govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold'>1</p>"
            }
          ]
        ]
      }) }}

<hr class="govuk-section-break govuk-section-break--l">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            </div>

            <div class="govuk-grid-column-one-third">
              <div><h2 class="govuk-heading-m">Get help using this service</h2><p class="font-small" style="margin-bottom:0px;"><span class="govuk-!-font-weight-bold">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="#" target="'_blank'">use webchat</a></p>
                <p class="govuk-body govuk-!-font-size-16" style="color: grey;">8am to 10pm, 7 days a week<br></p><p>More ways to <a href="#">contact us</a></p></div>
            </div>
          </div>

{% endblock %}
