
{% extends "layout.html" %}
{% from 'header/macro.njk' import govukHeader %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/dfe-sign-in/username",
    serviceName: "Access curriculum resources",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "#",
      text: "All Key Stage 2"
    },
      {
        href: "#",
        text: "Year 3"
      },
      {
        href: "#",
        text: "Year 4"
      },
      {
        href: "#",
        text: "Year 5"
      },
      {
        href: "/geography",
        text: "Year 6",
        active: true
      }
    ]
  }) }}
{% endblock %}
{% block pageTitle %}
  Year 6 geography - Access curriculum resources alpha - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "select/macro.njk" import govukSelect %}

{% block beforeContent %}


{{ govukBreadcrumbs({
  items: [
    {
      text: "Year 7",
      href: "/keystage3-history"
    },
    {
      text: "History",
      href: "#"
    }
  ]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Year 7 history curriculum</h1>
	<p>
    <h1 class="govuk-heading-m">How curriculum content is sequenced throughout year 7</h1>	
			
		<p>Year 7 begins with coverage of some essential historical skills that will underpin what students do throughout their time in history lessons including chronology, source skills, interpretations and technical terminology. </p> <p>Some of these skills are then applied via an in depth study of the life of Julius Caesar. This is linked with Shakespeare’s interpretation of Caesar, and thus historical interpretations in general. It also provides an opportunity for some cross-curricular drama work which students find to be engaging and different but remains academically rigorous.</p>
		    <h4 class="govuk-heading-s">Key themes, changes, and continuities</h4>
		<p>The journey through British history then begins with a study of medieval realms, covering the key themes mentioned above. Study then moves on to the Tudor monarchs followed by the English Civil War.</p> <p>Thematically, interleaving is crucial as curriculum content consistently returns to the key themes and the overarching changes and continuities that can be observed moving through British history. In terms of key skills, each assessment has a different skills focus in order to build up the requirements of GCSE history.</p>
 


  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
		<div class="card" style="background-color:#f8f8f8;position:relative;margin-top:20px;">
      <div class="card-wrapper" style="padding:0 20px 20px;">
        <div class="govuk-grid-row unit-card-heading">
          <div class="unit-card-heading-number">
            <h3 class="govuk-heading-xl">1</h3>
          </div>

          <div class="unit-card-heading-name">
            <h3 class="govuk-heading-m">
              What is history?<span class="govuk-caption-m"><strong>12 lessons</strong></span>
            </h3>
          </div>
        </div>

        <p class="govuk-body govuk-!-font-size-16">Introducing key historical skills to underpin all units at key stage 3, covering:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
					<li>chronology</li>
          <li>anachronisms</li>
          <li>sources of evidence</li>
          <li>interpretations of history</li>
       
        </ul>

        <a href="/unit" class="govuk-link"><strong>View and prepare lessons</a>


      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card" style="background-color:#f8f8f8; position:relative;margin-top:20px;">
      <div class="card-wrapper" style="padding:0 20px 20px;">
        <div class="govuk-grid-row unit-card-heading">
          <div class="unit-card-heading-number">
            <h3 class="govuk-heading-xl">2</h3>
          </div>

          <div class="unit-card-heading-name">
            <h3 class="govuk-heading-m">
              Julius Caesar<span class="govuk-caption-m"><strong>12 lessons</strong></span>
            </h3>
          </div>
        </div>

        <p class="govuk-body govuk-!-font-size-16">An interpretations focused unit that helps to meet the history key stage 3 National Curriculum requirement to study an aspect or theme in British history that consolidates and extends pupils’ chronological knowledge from before 1066. The unit covers:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
					<li>who were the Romans?</li>
          <li>who was Julius Caesar?</li>
          <li>what links Julius Caesar to Britain?</li>
          <li>interpretations of Julius Caesar</li>
         
        </ul>

        <a href="/unit" class="govuk-link">View and prepare lessons</a>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card" style="background-color:#f8f8f8; position:relative;margin-top:20px;">
      <div class="card-wrapper" style="padding:0 20px 20px;">
        <div class="govuk-grid-row unit-card-heading">
          <div class="unit-card-heading-number">
            <h3 class="govuk-heading-xl">3</h3>
          </div>

          <div class="unit-card-heading-name">
            <h3 class="govuk-heading-m">
              Medieval realms<span class="govuk-caption-m"><strong>14 lessons</strong></span>
            </h3>
          </div>
        </div>
        <p class="govuk-body govuk-!-font-size-16">The development of Church, state and society in medieval Britain 1066-1509, covering:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
					<li>the Norman Conquest and Feudalism</li>
          <li>Christendom, the importance of religion and the Crusades </li>
          <li>the struggle between Church and crown</li>
          <li>Magna Carta and the emergence of Parliament</li>
          <li>the Black Death and its social and economic impact</li>
          <li>the Peasants’ Revolt</li>
      
        </ul>
        <a href="/unit" class="govuk-link">View and prepare lessons</a>
      </div>
    </div>
  </div>



  <div class="govuk-grid-column-one-third">
    <div class="card" style="background-color:#f8f8f8; position:relative;margin-top:20px;">
      <div class="card-wrapper" style="padding:0 20px 20px;">
        <div class="govuk-grid-row unit-card-heading">
          <div class="unit-card-heading-number">
            <h3 class="govuk-heading-xl">4</h3>
          </div>

          <div class="unit-card-heading-name">
            <h3 class="govuk-heading-m">
              Tudor England<span class="govuk-caption-m"><strong>14 lessons</strong></span>
            </h3>
          </div>
        </div>
        <p class="govuk-body govuk-!-font-size-16">The development of Church, state and society in Britain 1509-1745, covering:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
					<li>the English Reformation and Counter Reformation (Henry VIII to Mary I)</li>
          <li>the Elizabethan religious settlement and conflict with Catholics (including Scotland, Spain and Ireland)</li>
          <li>the first colony in America and first contact with India</li>
          <li>poverty in the Tudor period</li>
          <li>interpretations of Elizabeth I</li>
         
        </ul>
        <a href="/unit" class="govuk-link">View and prepare lessons</a>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card" style="background-color:#f8f8f8; position:relative;margin-top:20px;">
      <div class="card-wrapper" style="padding:0 20px 20px;">
        <div class="govuk-grid-row unit-card-heading">
          <div class="unit-card-heading-number">
            <h3 class="govuk-heading-xl">5</h3>
          </div>

          <div class="unit-card-heading-name">
            <h3 class="govuk-heading-m">
              The English Civil War<span class="govuk-caption-m"><strong>12 lessons</strong></span>
            </h3>
          </div>
        </div>
        <p class="govuk-body govuk-!-font-size-16">The development of Church, state and society in Britain 1509-1745, covering:

</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
					<li>the causes and events of the civil wars throughout Britain</li>
          <li>the execution of Charles I</li>
          <li>the Interregnum (including Cromwell in Ireland)</li>
          <li>the Restoration, ‘Glorious Revolution’ and power of Parliament</li>
          <li>life in early modern England</li>
         
        </ul>
        <a href="/unit" class="govuk-link">View and prepare lessons</a>
      </div>
    </div>
  </div>

  

          <div class="unit-card-heading-name">
            <h3 class="govuk-heading-m">
          
      </div>
    </div>
  </div>
<span>&#160;</span>


		
	
	

	
{% endblock %}
