
{% extends "layout.html" %}

{% block pageTitle %}
Start - Curriculum materials - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Access your school’s curriculum online</h1>

    <p class="govuk-body">Teachers can use this service to access their school’s complete curriculum online. </p>
		
    <p class="govuk-body">You can access the full course of study and its resources, lesson by lesson. </p>		

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view your curriculum’s contents by year and by subject</li>
        <li>organise all lessons, using plans and resources tailored to the curriculum</li>
        <li>find helpful guidance on teaching the curriculum </li>
      </ul>
			
      <p class="govuk-body"><strong>Resources</p>
		
		<p class="govuk-body">Resources are currently available for:</p>
			
      <ul class="govuk-list govuk-list--bullet">
        <li>key stages 1 and 2 maths and science</li>
        <li>key stages 2 and 3 history and geography</li>
      </ul>
			
      <p class="govuk-body">You’ll need a valid school email address to sign up.</p>			
			
      <p class="govuk-body">This service is only available in England.</p>			
			
      {{ govukButton({
        text: "Start now",
        href: "splash",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">Your school can use this service if it is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>maintained or local authority funded</li>
        <li>an academy or academy trust</li>
        <li>a free school</li>
      </ul>



</div>





    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Further reading
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/government/collections/national-curriculum">
                The National Curriculum
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/government/news/curriculum-programme-pilots-to-reduce-time-spent-planning-lessons">
                Curriculum programme pilots to reduce time spent planning lessons
              </a>
            </li>
          </ul>
        </nav>
				
		      <div><h2 class="govuk-heading-m">Get help using this service</h2><p class="font-small" style="margin-bottom:0px;"><span class="govuk-!-font-weight-bold">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="#" target="'_blank'">use webchat</a></p>
		        <p class="govuk-body govuk-!-font-size-16" style="color: grey;">8am to 10pm, 7 days a week<br></p><p>More ways to <a href="#">contact us</a></p></div>
		    </div>
				
      </aside>

    </div>
  </div>
{% endblock %}
