
{% extends "layout.html" %}

{% block pageTitle %}
Start - Curriculum materials - Department for Education
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Curriculum resources prototypes for research</h1>

    <p class="govuk-body">This is for the Department for Education's curriculum materials programme.</p>


<a href="start" class="govuk-link">Prototype 1</a>


    </div>
  </div>
{% endblock %}
