{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="/candidate-search/search" method="post" class="form">
			<div class="govuk-se-masthead">
				<h1 class="govuk-heading-l">How the service works</h1>
				<p class="govuk-body">
				<p>Access curriculum resources is a service for teachers. It enables them to access their school’s curriculum online, including all the lesson plans, resources, and subject knowledge they will need to teach it.</p>

				<p>The Department for Education has collaborated with educational experts to create a service that aims to give all students access to a high-quality curriculum and to reduce teacher workload, with all teaching materials available to download or print from the service.</p>

				<p>The curriculum programmes available through this service are rooted in the traditions of subject disciplines and embrace learnings from cognitive science. Units of work have been coherently sequenced to ensure students gain specific knowledge that can be remembered in detail.  </p>



				<a href="dfe-sign-in/curriculum-sign" class="govuk-button govuk-se-button--start">
					Continue
				</a>
				<br>
				<br>
				<br>
			
				<img src="/public/images/logos.png" style='width:160px' alt="dfe and cabinet office logos">

				
			</div>
	</div>
</div>


{% endblock %}